---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->
	<section class="blog-roll">
    {% for post in site.posts %}
      <div class="post">
		<header class="post-header">
	        <h1 class="post-title">
	          <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> -->{{ post.title }} <!-- </a> -->
	        </h1>

	        <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>
		</header>
		<article class="post-content">
			{{ post.content }}
		</article>

		<!-- <div class="tags">
		
			<p>Catagory: {{ post.categories }}</p>
			{% if post.tags %}
				<p>Tags: {{ post.tags }}</p>
			{% endif %}
		</div> -->

      </div>

    {% endfor %}
    
z
  </section>

</div>
